.messageBG{
    --background: rgb(34,193,195);
    --background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,128,45,1) 100%);
}

ion-card-header{
    text-align: center;
    color: rgb(250, 250, 250);
    font-size: large;
}

ion-title{
    text-align: center;
}